---
import image1 from "../../public/rust_book.png";
import image2 from "../../public/road_map.png";
---

<div class="justify-center items-center flex flex-col gap-5">
  <div class="flex flex-col justify-center items-center gap-2">
    <h2>Aqui</h2>
    <h2>Podras</h2>
  </div>

  <div class="relative w-fit mx-auto">
    <img
      src={image1.src}
      alt="Image 1"
      class="rounded-lg shadow-lg absolute top-0 left-0 z-20 w-72 h-auto lg:w-80 md:w-96"
    />
    <img
      src={image2.src}
      alt="Image 2"
      class="rounded-lg shadow-lg relative top-32 left-10 z-10 w-72 h-auto lg:w-96"
    />
  </div>

</div>

