---
import "../globals.css";

import Intro from "../sections/Intro.astro";
import Projects from "../sections/Projects.astro";
import Capabilities from "../sections/Capabilities.astro";
import LearnSection from "../sections/LearnSection.astro";
import WhyRustSection from "../sections/WhyRust.astro";
import LanguageCapabilities from "../sections/LanguageCapabilities.astro";
import Footer from "../sections/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#fed7aa" />
    <title>Astro</title>

    <!-- -->
    <link
      href="https://fonts.cdnfonts.com/css/alfa-slab-one"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/work-sans" rel="stylesheet" />
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        if (
          "localhost0.0.0.0::0192.168.0.1192.168.1.1".includes(
            document.location.hostname,
          )
        )
          return;
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "ohcuqk87vi");
    </script>
  </head>
  <body
    class="min-h-screen min-w-screen flex flex-col justify-start items-center gap-10 pb-20"
  >
    <!--
    <h4>Un espacio seguro</h4>
    <h1>Astro</h1>
    <h3>En Español</h3>

    <h2>Aprender</h2>

    <Clickable>
      <p>oli</p>
    </Clickable>

    -->
    <Intro />
    <WhyRustSection />
    <!-- Velocidad -->
    <!-- Recursos predecibles -->
    <!-- Seguro por diseño -->
    <!-- Ecosistema moderno -->
    <Capabilities />
    <LearnSection />
    <!-- Conectar (widget discord) -->
    <Projects />
    <!-- Crea sin limites -->
    <Footer />
  </body>
</html>
