---
import "src/globals.css";

import Intro from "@sections/Intro.astro";
import WhyRustSection from "@sections/WhyRust.astro";
import Footer from "@sections/Footer.astro";
import Community from "../sections/Community.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#fed7aa" />
    <title>RustLang en Español</title>
    <meta name="description" content="Únete a nuestra comunidad de Rust en español. Promovemos el aprendizaje y la difusión de Rust, compartiendo conocimientos y proyectos emocionantes." />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="RustLang en Español" />
    <meta
      property="og:description"
      content="Únete a nuestra comunidad de Rust en español. Promovemos el aprendizaje y la difusión de Rust, compartiendo conocimientos y proyectos emocionantes.
"
    />
    <meta property="og:image" content="/rustlanges_preview.webp" />
    <meta property="og:url" content="https://resume.rustlang-es.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="RustLangES" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="RustLang en Español" />
    <meta
      name="twitter:description"
      content="Únete a nuestra comunidad de Rust en español. Promovemos el aprendizaje y la difusión de Rust, compartiendo conocimientos y proyectos emocionantes."
    />
    <meta name="twitter:image" content="/rustlanges_preview.webp" />
    <meta name="twitter:site" content="@rust_lang_es" />
    <meta name="twitter:creator" content="@rust_lang_es" />

    <!-- -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        if (
          "localhost0.0.0.0::0192.168.0.1192.168.1.1".includes(
            document.location.hostname,
          )
        )
          return;
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "ohcuqk87vi");
    </script>
  </head>
  <body
    class="min-h-screen w-full flex flex-col items-center h-screen gap-10 pb-20"
  >
    <Intro />
    <div class="relative">
      <WhyRustSection />
      <Community />
    </div>
    <Footer />
    <div class="fixed bottom-9 animate-bounce">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg
      >
    </div>
  </body>
</html>
