---
import Section from "@layouts/section.astro";

import image1 from "@assets/rust_book.png";
import image2 from "@assets/road_map.png";
---

<Section title="AQUÃ" subtitle="Podras" type="TitleOrange">
  <div slot="content" class="flex w-full h-full mt-6">
    <img
        src={image1.src}
        alt="Image 1"
        class="flex-grow z-10 p-[20px] mb-[40px] w-72 h-[200px] lg:w-80 md:w-96"
    />
    <img
        src={image2.src}
        alt="Image 2"
        class="flex-grow p-[20px] ml-[-50%] mt-[40px] z-10 w-72 h-[200px] lg:w-96"
    />
  </div>
</Section>
