---
import Clickable from "@components/Clickable.astro";
import Section from "@layouts/section.astro";
---

<Section title="Ecosistema" subtitle="Moderno" description="Todas las herramientas que necesitas, Ya incluidas en la instalación">
  <Fragment slot="content">
    <div class="flex justify-center items-center gap-8">
      <Clickable className="px-2 py-4"> Formatter </Clickable>
      <Clickable className="px-2 py-4"> Gestor de paquetes </Clickable>
    </div>
    <div class="flex justify-center items-center gap-6">
      <Clickable className="px-2 py-4"> Reglas para calidad </Clickable>
      <Clickable className="px-2 py-4"> Y mucho más </Clickable>
    </div>
  </Fragment>
</Section>
