---
import Clickable from "../components/Clickable.astro";
---

<div class="flex flex-col items-center justify-center gap-2">
  <img src="./ferris.png" />
  <h1>Rust Lang</h1>
  <h4>Un espacio seguro</h4>
  <h3>En Español</h3>

  <a href="https://discord.gg/rustlanges" target="_blank">
    <Clickable className="py-1 px-3"> Discord </Clickable>
  </a>
</div>
