---
import Clickable from "@components/Clickable.astro";
import discord_svg from "@assets/discord.svg";
---

<div class="flex flex-col items-center justify-center gap-2 p-3 min-h-screen">
  <div class="flex items-center justify-center">
    <img src="./ferris.png" />
  </div>

  <h1 class="text-6xl">Rust Lang</h1>
  <h4>Un espacio seguro</h4>
  <h3>En Español</h3>

  <Clickable  href="https://discord.gg/rustlanges" target="_blank" className="my-10">
    <img src={discord_svg.src} alt="Discord" class="mr-2" />
    Discord
  </Clickable>
</div>
