---
import Clickable from "@components/Clickable.astro";
---

<div class="flex flex-col justify-start items-center mt-5">
  <h2>CREA</h2>
  <h3 class="text-[25px]">SIN LIMITES</h3>

  <div class="flex flex-col justify-center items-center mt-10">
    <div class="flex justify-center items-center gap-10">
      <Clickable>Servicios</Clickable>
      <Clickable className="mt-[50px]">Aplicaciones Multiplataforma</Clickable>
    </div>
    <div class="flex justify-center items-center gap-10">
      <Clickable>Videojuegos</Clickable>
      <Clickable className="mt-[50px]">Inteligencia Artificial</Clickable>
    </div>
    <div class="mt-10 justify-center items-center">
      <Clickable>Y mucho, mucho mas</Clickable>
    </div>
    <div
      class="justify-center items-center flex mt-14 w-[70%] text-left font-medium"
    >
      <p>
        Quizas Todavia te preguntes Que Puedes Crear con Rust, La Respuesta
        Corta, Todo Lo Que Quieras.
      </p>
    </div>
  </div>
</div>
