---
import Clickable from "@components/Clickable.astro";
import Section from "@layouts/section.astro";
---

<Section title="Crea" subtitle="Sin Limites" description="Quizas Todavia te preguntes Que Puedes Crear con Rust, La Respuesta Corta, Todo Lo Que Quieras.">
  <div slot="content" class="flex flex-col justify-center items-center mt-10">
    <div class="flex justify-center items-center gap-10">
      <Clickable>Servicios</Clickable>
      <Clickable className="mt-[50px]">Aplicaciones Multiplataforma</Clickable>
    </div>
    <div class="flex justify-center items-center gap-10">
      <Clickable>Videojuegos</Clickable>
      <Clickable className="mt-[50px]">Inteligencia Artificial</Clickable>
    </div>
    <div class="mt-10 justify-center items-center">
      <Clickable>Y mucho, mucho mas</Clickable>
    </div>
  </div>
</Section>
