---
import Clickable from "@components/Clickable.astro";
import Section from "@layouts/section.astro";
---
<Section title="Aprender">
  <Fragment slot="content">
    <!-- First row -->
    <div class="flex justify-center items-center gap-8">
      <Clickable>Roadmap</Clickable>
      <Clickable className="mt-[50px]">El Libro</Clickable>
    </div>

    <!-- Second row -->
    <div class="flex justify-center items-center gap-8">
      <Clickable>Rust para c# Developers</Clickable>
      <Clickable className="mt-[50px]">Mas</Clickable>
    </div>
  </Fragment>
</Section>
