---
import chart from "@assets/rust_performance.svg";
---

<div class="flex flex-col items-center justify-center p-4 gap-2">
  <h2>MUY RAPIDO</h2>
  <img src={chart.src} />
  <p class="text-pretty p-2 text-center">
    Al ser un lenguaje de sistemas, Rust tiene excelente rendimiento.
  </p>
</div>
