---
---

<div class="flex flex-col items-center justify-center py-4 gap-2">
  <h2>RECURSOS</h2>
  <h3 class="text-[25px]">PREDECIBLES</h3>

  <img src="predictability.png" />
  <p class="text-pretty py-2 px-6 text-center">
    Olvidate de metricas dificiles de predecir y presupuestar
  </p>
</div>
