---
---

<div class="flex flex-col items-center justify-center py-4 gap-2">
  <h2>SEGURO</h2>
  <h3 class="text-[25px]">POR DISEÑO</h3>

  <img src="secure.png" />
  <p class="text-pretty py-2 px-6 text-center">
    Evita muchos problemas productivos antes de imaginarlos gracias al compilador.
  </p>
</div>
