---
import chart from "@assets/rust_performance.svg";
import Clickable from "@components/Clickable.astro";
import Section from "@layouts/section.astro";
---

<Section
  type="TitleOrange"
  title="Por que"
  subtitle="Rust"
  image="rust.png"
  className="h-[65vh]"
/>
<Section
  title="MUY RÁPIDO"
  image="rust_performance.svg"
  description="Al ser un lenguaje de sistemas, Rust tiene excelente rendimiento"
  className="h-screen"
/>
<Section
  title="Recursos"
  subtitle="Predecibles"
  image="predictability.png"
  description="Olvidate e métricas difíciles de predicir y presupuestar"
  className="h-screen"
/>
<Section
  image="secure.png"
  title="Seguro"
  subtitle="Por Diseño"
  description="Evita muchos problemas productivos antes de imaginarlos gracias al compilador."
  className="h-screen"
/>

<Section
  title="Ecosistema"
  subtitle="Moderno"
  description="Todas las herramientas que necesitas, Ya incluidas en la instalación"
  className="h-screen"
>
  <Fragment slot="content">
    <div class="flex justify-center items-center gap-8">
      <Clickable className="px-2 py-4"> Formatter </Clickable>
      <Clickable className="px-2 py-4"> Gestor de paquetes </Clickable>
    </div>
    <div class="flex justify-center items-center gap-6">
      <Clickable className="px-2 py-4"> Reglas para calidad </Clickable>
      <Clickable className="px-2 py-4"> Y mucho más </Clickable>
    </div>
  </Fragment>
</Section>
