---
import Section from "@layouts/section.astro";
import ClickableGrid from "@layouts/ClickableGrid.astro";
---

<div
  class="flex flex-col justify-center mt-3 items-center gap-2 h-[100px] sec z-10"
>
  <h3 class="text-[30px]">POR QUE</h3>
  <h2 class="text-orange-600 text-[50px]">RUST</h2>
</div>
<Section
  type="TitleOrange"
  image="rust.png"
  height="[65vh]"
  image_alt="Logo de Rust"
/>
<Section
  title="MUY RÁPIDO"
  image="rust_performance.svg"
  image_alt="Gráfica comparativa"
  description="Al ser un lenguaje de sistemas, Rust tiene excelente rendimiento"
/>
<Section
  title="Recursos"
  subtitle="Predecibles"
  image="predictability.png"
  image_alt="Gráfica de rendimiento"
  description="Olvidate de métricas difíciles de predecir y presupuestar"
/>
<Section
  image="secure.png"
  image_alt="Compilador de Rust"
  imageAlign="right"
  title="Seguro"
  subtitle="Por Diseño"
  description="Evita muchos problemas productivos antes de imaginárlos gracias al compilador."
/>

<Section
  title="Ecosistema"
  subtitle="Moderno"
  description="Todas las herramientas que necesitas, ya incluidas en la instalación"
>
  <ClickableGrid
    slot="content"
    items={[
      [
        {
          t: "Formatter",
          href: "https://rust-lang.github.io/rustfmt",
        },
        {
          t: "Gestor de Paquetes",
          href: "https://doc.rust-lang.org/cargo",
        },
      ],
      [
        {
          t: "Reglas para Calidad",
          href: "https://doc.rust-lang.org/clippy",
        },
        {
          t: "Y mucho más",
          href: "https://github.com/rust-unofficial/awesome-rust",
        },
      ],
    ]}
  />
</Section>
