---
import chart from "../../public/rust_performance.svg";
import Clickable from "../components/Clickable.astro";
---

<section id="reasons" class="relative">
  <div class="flex flex-col items-center gap-5 sec h-[65vh]">
    <div class="flex flex-col mt-32 items-center gap-2">
      <h3 class="text-[30px]">POR QUE</h3>
      <h2 class="text-orange-600 text-[50px]">RUST</h2>
    </div>

    <img class="relative w-[230px] h-[230px]" src="rust.png" />
  </div>
  <div class="flex flex-col items-center justify-center p-4 gap-2 sec h-screen">
    <h2>MUY RAPIDO</h2>
    <img src={chart.src} />
    <p class="text-pretty p-2 text-center">
      Al ser un lenguaje de sistemas, Rust tiene excelente rendimiento.
    </p>
  </div>
  <div class="flex flex-col items-center justify-center gap-2 sec h-screen">
    <h2>RECURSOS</h2>
    <h3 class="text-[25px]">PREDECIBLES</h3>

    <img src="predictability.png" />
    <p class="text-pretty py-2 px-6 text-center">
      Olvidate de metricas dificiles de predecir y presupuestar
    </p>
  </div>
  <div
    class="flex flex-col items-center justify-center py-4 gap-2 sec h-screen"
  >
    <h2>SEGURO</h2>
    <h3 class="text-[25px]">POR DISEÑO</h3>

    <img src="secure.png" class="max-h-[280px] self-end" />
    <p class="text-pretty py-2 px-6 text-center">
      Evita muchos problemas productivos antes de imaginarlos gracias al
      compilador.
    </p>
  </div>
  <div class="flex flex-col items-center justify-center p-1 gap-4 pt-20 sec">
    <h2>ECOSISTEMA</h2>
    <h4 class="font-bold">MODERNO</h4>
    <div class="flex justify-center items-center gap-8">
      <Clickable className="px-2 py-4"> Formatter </Clickable>
      <Clickable className="px-2 py-4"> Gestor de paquetes </Clickable>
    </div>
    <div class="flex justify-center items-center gap-6">
      <Clickable className="px-2 py-4"> Reglas para calidad </Clickable>
      <Clickable className="px-2 py-4"> Y mucho más </Clickable>
    </div>
    <p class="p-5 text-pretty text-center">
      Todas las herramientas que necesitas,<br /> Ya incluidas en la instalación.
    </p>
  </div>
</section>
