@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fed7aa;
  --orange: #f97316;
  --light-orange: #ffce9a;
  --black: #000;
}

@font-face {
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/AlfaSlabOne-Regular.woff2') format("woff2");
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Work-Sans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('fonts/Work-Sans-500.woff2') format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: semibold;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/Work-Sans-600.woff2') format('woff2');
}

body {
  background: var(--background);
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  @apply text-7xl font-normal;
  color: var(--orange);
  font-family: "Alfa Slab One", sans-serif;
}

h2 {
  @apply text-4xl font-normal;
  color: var(--black);
  font-family: "Alfa Slab One", sans-serif;
}

h3 {
  @apply text-4xl font-semibold;
  color: var(--black);
  font-family: "Work Sans", sans-serif;
}

h4 {
  @apply text-3xl font-light;
  color: var(--black);
  font-family: "Work Sans", sans-serif;
}

p {
  @apply text-lg font-normal;
  color: var(--black);
  font-family: "Work Sans", sans-serif;
}

iframe {
  width: 100%; /* Responsive width */
  height: 100%; /* Responsive height */
}

footer {
  background: #ffce9a;
}

.sec {
  @apply sticky top-0;
  background: var(--background);
}

@media only screen and (min-width: 768px) {
  .sec {
    position: relative;
  }
}
